.DS_Store
*/.DS_Store

data/BACI_HS12_V202201.zip
data/Gravity_csv_V202202.zip
data/oecd_cbcr.csv

data/BACI_HS12_V202201/*
data/Gravity_csv_V202202/*

data/tax_treaties.csv

latex_outputs/*.tex

__pycache__/

*.log

*regression_data.csv
*regression_data.dta

*market_access*.csv
*market_access*.dta

*model_data.csv
*model_data.dta

*.ipynb
.ipynb_checkpoints/

data/gravity_dtypes.csv
